:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }


  
  a {
    color: black;
    font-weight: 500;
    text-decoration: inherit;
  }
  
  a:hover {
    color: #535bf2;
  }
  
  .ocean{

    height:100%;
    width:100%;

  }
  .waves {
    position: fixed;
    width: 100%;
    height: 12vh;
    top: 50%; /* Décale la vague à mi-hauteur de son conteneur */
    z-index: -1; /* Place la vague derrière le contenu principal */
    background: url('wave.png') repeat-x;
}

  /*.wave{
    position: absolute;
    bottom: 0;
    left: 0;
    background: url(wave.png);
    width: 100%;
    height: 12vh;
  }*/
  .continuite{
    position : relative;
    width: 100%;
    background-color: #124559;
    top:50%;
  }

  @keyframes animate{
    0%{
      background-color: #0b37fc;
    }
    25%{
      background-color: #0b9cfc;
    }
    50%{
      background-color: #00eeff;
    }
    75%{
      background-color: #0b9cfc;
    }
    100%{
      background-color: #0b37fc;
    }
  }
  #wave1{
    bottom:0;
    opacity: 1;
  }

  #wave2{
    bottom:10px;
    opacity: 0.5;
  }

  #wave3{
    bottom:15;
    opacity: 0.7;
  }

  #wave4{
    bottom:20;
    opacity: 0.4;
  }

  #wave5{
    bottom:0;
    opacity: 1;
  }
  body {
    margin: 0;
    display: flex;
    place-items: center;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Helvetica';
  }
  
  header {
    background-color: #747bff;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  header h1 {
    text-align: center;
  }
  
  nav {
    display: flex; /* Aligne les enfants (les `<li>`) */
    flex-direction: column; /* Aligne les éléments verticalement */
    align-items: flex-start; /* Texte aligné à gauche */
    gap: 1rem; /* Espacement entre chaque élément de la liste */
    padding: 1rem; /* Ajoute de l'espace autour du contenu */
  }
  
  
  li {
    display: flex; /* Aligne les enfants horizontalement */
    align-items: center; /* Aligne le texte et l'image verticalement */
    gap: 1rem; /* Ajoute de l'espace entre le texte et l'image */
    margin: 1rem 0; /* Espacement vertical entre les éléments de la liste */
  }
  
  a {
    background-color: #646cff;
    border: solid;
    padding: 1.01vw;
    border-radius: 10%;
  }
  
  li:hover #slide{
    color: rgb(255, 255, 255);
    transform: scale(1.1);
    left:0;
  }


  
  .image{
    width:10vw;
    height:10vw


  }

  #slide {
    position: absolute;
    left: -100px;
    width: 100px;
    height: 100px;
    background: blue;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 2s;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}
  
  
  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }
  
  #app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
  .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }
  
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  
  .logo.vanilla:hover {
    filter: drop-shadow(0 0 2em #f7df1eaa);
  }
  
  .card {
    padding: 2em;
  }
  
  .read-the-docs {
    color: #888;
  }
  
  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  
  button:hover {
    border-color: #646cff;
  }
  
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  
  @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
  
    a:hover {
      color: #747bff;
    }
  
    button {
      background-color: #f9f9f9;
    }
    footer{
      display: flex;
      justify-content: center;
      padding-top: 5%;
      padding-bottom: 5%;
      background-color: #747bff;
      width: 100%;
    }
  }