* {
    margin: 0;
    padding: 0;
}

#poisson {
    height: 20px;
    width: 20px;
    background-color: orangered;
}

#autre_partie {
    width: 50vw;
}

.window {
    display: inline-block;
}

#cpt {
    position: absolute;
    font-size: 5vh;
    top: 2vh;
    left: 51vw;
}

.poisson {
    display: none;
}

#jeu {
    width: 49vw;
    height: 100vh;
}